.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.top-overlay {
    position: absolute;
    float: left;
    width: 100%;
    z-index: 100;
    background: yellow;
}

/*body {
    display: flex;
    flex-direction: column;
}

.map-container {
    flex-grow: 1;
}*/